/*CSS página de fotos MVG*/
//comentario solo visible en scss 

//import 
@import "utilities/contacto";
@import "utilities/variables";


/*Reset*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  